@model LambdaLinq.ViewModels.SearchViewModel

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Find Books</h3>
@using (Html.BeginForm())
{
<div class="form-group">
    <Label>
        Search By Author:
        @Html.EditorFor(m => m.Author)
    </Label>
    <Label>
        Search By Title:
        @Html.EditorFor(m => m.Title)
    </Label>
    <Label>
        Search By Price Range:
        Between @Html.EditorFor(m => m.PriceMin)
        And     @Html.EditorFor(m => m.PriceMax)
    </Label>
</div>

    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Search" class="btn btn-default" />
    </div>
}

