@model LambdaLinq.ViewModels.SearchViewModel

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Find Books</h3>
@using (Html.BeginForm())
{
    <div class="form-group">
        <Label>
            Author To Find:
            @Html.EditorFor(m => m.Author)
        </Label>
        <br />
        <label>
            Title To Find:
            @Html.EditorFor(m => m.Title);
        </label>
        <label>
            Low Price:
            @Html.EditorFor(m => m.LowPrice);
        </label>
        <br />
        <label>
            High Price:
            @Html.EditorFor(m => m.highPrice);
        </label>
    </div>

    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Search" class="btn btn-default" />
    </div>
}

